# Build output
dist/
.output/
.vercel/

# Dependencies
node_modules/

# Astro
.astro/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Env
.env
.env.*
!.env.example

# Logs
npm-debug.log*

# others 
SPEC.md
resource_dump.md
_README.md